.home {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        padding: 5%;
}

@media(max-width: 640px) {
        .home {
                display: grid;
                grid-template-columns: 1fr;
                gap: 3rem;
                padding: 5%;
        }   
        
        .right-section {
                grid-row-start: 1;
        }
}